[Unit]
Description=Homebus Last N Component
After=network.target

[Service]
Type=simple

User=homebus
WorkingDirectory=/home/homebus/homebus-component-n-most-recent

ExecStart=/home/homebus/.rbenv/bin/rbenv exec bundle exec homebus-component-n-most-recent.rb
TimeoutSec=30

Restart=always

[Install]
WantedBy=multi-user.target

